@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .max-container {
    @apply max-w-[1500px] mx-auto max-sm:px-1 sm:px-8;
  }

  .grad-orange {
    @apply bg-gradient-to-r from-sky-100 to-red-100;
  }
  .grad-2 {
    @apply bg-gradient-to-l from-purple-100 to-purple-50;
  }
}

.active {
  color: red;
}
