@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .max-container {
    @apply max-w-[1500px] mx-auto max-sm:px-1 sm:px-8;
  }

  .grad-orange {
    @apply bg-gradient-to-r from-sky-100 to-red-100;
  }
  .grad-2 {
    @apply bg-gradient-to-l from-purple-100 to-purple-50;
  }
}
@theme {
  --color-primary: #3b82f6;
  --color-accent: #9333ea;
  --color-secondary: #f97316;
  --color-tertiary: #f43f5e;
  --color-darkbase: #0f172a;
  --color-lightbase: #f9fafb;
}
.active {
  color: green;
  text-decoration: underline;
}

.hover-effect {
  @apply hover:shadow-md transition-all ease-in-out duration-500 hover:border-1 hover:border-amber-500;
}
